# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.egg

# Virtual env
.env
.venv/
venv/
ENV/
env/

# IDEs
.idea/
.vscode/
*.swp
*~

# Django
*.log
db.sqlite3
media/
staticfiles/
local_settings.py

# Migrations (если не хочешь их отслеживать)
# */migrations/
# !*/migrations/__init__.py

# System files
.DS_Store
Thumbs.db

# Secret files
*.pem
*.key
secrets.json
